.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #222;
  height: 300px;
  background: url('./aws-arch.png') center / contain no-repeat;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#p2 {
  width: 100%;
  display: none;
}
.demo-list-three {
  width: 100%;
}

#showBox {
  padding: 0 0 3px 0;
}

#showBox img {
  width: 100%;
}
